.a1{
	padding-top: 10px;
	border-radius: 5px;
	font-size: 25px;
	font-family: 'Comic Sans MS, Comic Sans, cursive';
	

}
.a2{
	padding: 5px;
} 
.vnb{
	margin-top: 4px;
	border-radius: 5px;
	border-color: 2px solid gray;
	margin-left: 7%;
}
.container{
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}